 body{
    color:red
}
h1{
    color:blue
}
h2{
    color:#008000
}
#header{
    color:grey
}
.para{
    color:aqua
} 

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital@1&display=swap');
:root{
    --primary-color:
    #9d174d;
}
h1{
    font-family: 'Instrument Serif', serif;
    font-family: 'Libre Baskerville', serif;
}
/* /* 
container */
.container-center{
     /* padding-left: 1 rem;
    padding-right: 1 rem;  */
    padding:0rem 1rem;
}

      max-width : 600px;
      margin:auto;

.container-fluid{
    max-width : 600px;
      margin:auto;

}
/* links */
.link{
    text-decoration:none;
    padding:0.5rem 1 rem;
}
.link-primary{
  background-color:var(--primary-color);
  border-radius:0.5rem;
  color:white;
}
.link-secondary{
   color:var(--primary-color);
   border-radius:0.5rem;
   border:1px solid var(--primary-color)
}
hr{
    margin:2rem 0rem
}
/* lists */
.non-bullet{
    list-style:none;
}
.list-item-inline{
    display:inline;
    padding:0rem 0.5rem;
}
/* nav */
.navigation{
    background-color:var(--primary-color);
    color:white;
    padding:1rem;
    border-bottom-left-radius:1rem;
}
/* .nav pills{
    color:white;
} */
.navigation .nav-pills{
    text-align:right;
}
.navigation .nav-brand{
    font-weight:bold;

}
.navigation .link{
    color: white;
}
.navigation .link-active{
    font-weight:bold;
}


